
#notfound{
    position: relative;
    height: 100vh;
    background: #030005;
    box-sizing: border-box;
}

#notfound .notfound{
 position:absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
}

.notfound{
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    text-align: center;
}
.notfound .not_found_404{
    position: relative;
    height: 180px;
    margin-bottom: 20px;
    z-index: -1;
}
#notfound .not_found_404 h1
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 224px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -12px;
    color: #030005;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #00b7ff, 1px 1px 0 #00f7ff;
    letter-spacing: -20px;
}
#notfound .not_found_404 h2{
    position: absolute;
    left: 0;
    right: 0;
    top: 110px;
    font-size: 42px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
    text-shadow: -1px -1px 0 #00b7ff, 1px 1px 0 #00f7ff;
    letter-spacing: 13px;
    margin: 0;
}
.notfound a{
    margin-top: 70px;
    display: inline-block;
    color: #00b7ff;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid;
    font-size: 14px;
    padding: 10px 40px;
    font-weight: 700;
    transition: .2s all;
    -webkit-transition: .2s all;
    
}
.notfound a:hover{
    color: #0099ff;
}