
*{
    font-family: "Montserrat", sans-serif;
   color: #a3b0b3;
}

@import "./index/navBa";
@import "./index/body";
@import "Planes/planes";
@import "./_images/images";
@import "./index/media";
@import "./help/help";
@import "./error404";
@import "./boton";
@import "./merch";