
body{

		height: 100%;

		#carousel3{
			padding-bottom: 100px;
		}
	  
		.carousel{

			margin-top: 200px;


		}
	  .parallax {
		/* The image used */
		background-image: url("https://img.freepik.com/fotos-premium/logotipo-fitness-sobre-fondo-negro_545448-3509.jpg");
		/* Full height */
		height: 100%;
	  
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	  }
.texto-interior{
	font-size: 2rem;
	font-weight: bold;
	left: 10%;
	position: absolute;
	text-align: center;
	top:40%;
	width: 80%
}


}
