main {

    .titulo-estilo {
        color: #444444;
        font-weight: 700;
        font-size: 144px;
        text-shadow: 0px 0px 11px rgba(238, 241, 245, 0.48);
    }

    span {
        color: #00c8f8;
    }

    h1 {
        font-size: 100px;
    }

    .botonsito {
        width: 148px;
        height: 42px;
        padding: 0px 10px 0px 10px;
        border-width: 2px;
        border-style: solid;
        border-radius: 24px 24px 24px 24px;
        font-size: 16px;
        text-align: center;
        margin-bottom: 200px;
    }

    i {
        font-size: 2rem;
        margin-right: 7px
    }

    ;

    .parrafillo {

        margin: auto;
        width: 40%;
        opacity: 80%;
        color: #606060;
    }

    .textos, .parrafo{
        width: 40%;
        height: 168px;
        opacity: 80%;
        color: #606060;
        font-size: 14px;
        text-align: left;
        padding-left: 30px;
        padding-right: 0px !important;

    }

        .carousel-item img {
            width: 380px;
            height: 253px;
    }

    .titulo__margi {
        margin-top: 100px;
    }

    .about {
        p {
            margin: auto;
            width: 40%;
        }

        .para {
            margin-bottom: 100px;
            font-size: 15px;
        }
    }
     .Planes{
        font-size: 20px;
    }

    .wit{
        margin: 0px 10px;
        width: 200px;
    }
    .custom-border-top {
        border-top: 1px solid rgba(170, 170, 170, 0.3);
      }
    }

footer p {
    margin-top: 100px;
}

