header {
   position: sticky;
   top: 0;
   z-index: 10;

   nav {

      list-style: none;
      text-decoration: none;
      font-size: 20px;

      a {
         padding-top: 0px;
      }

      a:hover {
         //NO ME FUNCIONA SIN LOS IMPORTANT
         color: #00c8f8 !important;
         transition: 1s !important;

}
   }

   .posicion {
      z-index: 11;
      right: 0;
      margin: 6px 6px;
   }
}