.alto{
    height: 400px;
}
.horizontal-menu {
    height: 42px;
	border-width: 2px;
	border-style: solid;
	border-radius: 6px;
	font-size: 20px;
}

.rectangle-61 {
    margin: auto;
    width: 224px !important;
    border-radius:6px ;
    border-color: #c9d3dd;   
}
.texto-estilo{
	width: 167px;
	height: 73px;
	color: #798da3;
	font-family: "Open Sans";
	font-weight: 400;
	font-size: 15px;
	line-height: 1.3;
	text-align: left;
}
